<% if @bet_id.present? %>
  <h1>Choose a Portfolio to close bet</h1>
<% else %>
<h1>These are Your Portfolios</h1>
<% end %>

<h4>You own <%= pluralize(@portfolios.count, "portfolio")  %></h4>
<%= link_to 'Create New Portfolio', new_portfolio_path, class: 'btn btn-default' %>
<hr>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Analyze</th>
        <th>Stocks in Portfolio</th>
        <th>Delete / See Bet State</th>
        <% if @bet_id.present?  %>
          <th>Select a Portfolio to use in Bet</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @portfolios.each do |x| %>
        </tr>
          <td><%= link_to '<i class="fa fa-line-chart" aria-hidden="true"></i>'.html_safe, portfolio_path(x), class:"btn btn-success" %></td>
          <td>
            <% x.tickers.each do |x|%>
              <span class="btn btn-default btn-sm"><%= x.name %></span>
            <% end  %>
          </td>
          <td>
            <% if x.in_bet?  %>
              <%= link_to '<i class="fa fa-bar-chart" aria-hidden="true"></i> Currently Active'.html_safe, bet_path(x, bet_id: x.bet_id), class:"btn btn-success" %>
            <% else  %>
              <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i> Delete'.html_safe , portfolio_path(x) , method: :delete, data: { confirm: 'Are you sure? '}, class:"btn btn-warning" %>
            <% end %>
          </td>
          <% if @bet_id.present? %>
            <% if !x.in_bet? %>
            <td><%= link_to '<i class="fa fa-check-square-o" aria-hidden="true"></i>'.html_safe, bet_path(x, bet_id:@bet_id), class:"btn btn-success" %></td>
            <% else  %>
            <td><i class="fa fa-line-chart" aria-hidden="true"></i> Already in an Active Bet</td>
            <% end %>
          <% else %>

          <% end  %>
        </tr>
      <% end %>
    </tbody>
  </table>
