<h1>STOCK PICKER</h1>
<h1>TECHNICAL ANALYSIS</h1>
<p>Start Date - End Date</p>
<p><%= @portfolio.startdate %> - <%= @enddate %></p>
<hr>
<!-- <h1>ABSOLUTE PRICE CHART</h1> -->

<%#=line_chart @data1 %>

<!-- <h1>STANDARD DEVIATION</h1> -->

<%# @stdev_array.each_with_index do |x, index| %>
  <!-- <%#= @super_duper_array[index].first.symbol %> -- <%#= @stdev_array[index].round(2) %> <br> -->
<%# end %>
<div class="row">
  <div class="col-sm-6">
    <h1>VARIATION COEFFICIENT</h1>
    <p>The higher the riskier</p>
    <%# @varcoef_array.each_with_index do |x, index| %>
      <!-- <%#= @super_duper_array[index].first.symbol %> -- <%#= @varcoef_array[index].round(2) %> <br> -->
    <%# end %>

    <% @zip_inter.each do |x , y| %>
      <%= x %> -- <%= y.round(2) %> <br>
    <% end  %>

  </div>
  <div class="col-sm-6">
    <h1>RETURN ON INVESTMENT</h1>
    <p>The higher the better</p>
    <p>
  </div>
    <% @return_array.each_with_index do |x, index| %>
      <%= @super_duper_array[index].first.symbol %> -- <%= @return_array[index].round(2) %> <br>
    <% end %>
  </p>
</div>
<h1>VARIATION CHART</h1>
<p>Can improve</p>

<%= area_chart @data2 %>

<h1>HUNDRED DOLLAR TEST</h1>
<p>If You invested 100 dollars in </p>
<p>
  <% @super_dollars_at_end_array.each_with_index do |x, index| %>
    <%= @super_duper_array[index].first.symbol %> -at beginning, today you would have- <%= @super_dollars_at_end_array[index].round(2) %> <br>
  <% end %>
</p>
<%= line_chart @data3, min: @minimum, max: @maximum %>


<h1>SORTINO Ratio</h1>
<p>Eliminates upward volatily</p>
<p>
  A higher Sortino ratio is better. When looking at two similar investments, a rational investor would prefer the one with the higher Sortino ratio because it means that the investment is earning more return per unit of bad risk that it takes on.
  <br>
  <% @super_sortino.each_with_index do |x, index| %>
    <%= @super_duper_array[index].first.symbol %> -- <%= @super_sortino[index].round(2) %> <br>
  <% end %>
</p>

<%= line_chart @sortinoGraph %>



<h1>V@R</h1>
<p>MAYBE slider to certainty</p>
<p>There's a 95% degree of certainty that you won't lose more than ...</p>
<p>Link to actual stock buy</p>



<h1>FUNDAMENTAL ANALYSIS</h1>

<h1>NEWS ANALYSIS</h1>


STOCKS
<%# @stocks %>
STOCK
<%# @stock.book_value %>



<!-- symbol
ask
average_daily_volume
bid ask_realtime
bid_realtime
book_value
change_percent_change
change
commission
change_realtime
after_hours_change_realtime
dividend_share
last_trade_date
trade_date
earnings_share
error_indicationreturnedforsymbolchangedinvalid
eps_estimate_current_year
eps_estimate_next_year
eps_estimate_next_quarter
days_low
days_high
year_low
year_high
holdings_gain_percent
annualized_gain
holdings_gain
holdings_gain_percent_realtime
holdings_gain_realtime
more_info
order_book_realtime
market_capitalization
market_cap_realtime
ebitda
change_from_year_low
percent_change_from_year_low
last_trade_realtime_with_time
change_percent_realtime
change_from_year_high
percent_change_from_year_high
last_trade_with_time
last_trade_price_only
high_limit
low_limit
days_range
days_range_realtime
fiftyday_moving_average
two_hundredday_moving_average
change_from_two_hundredday_moving_average
percent_change_from_two_hundredday_moving_average
change_from_fiftyday_moving_average
percent_change_from_fiftyday_moving_average
name
notes
open
previous_close
price_paid
changein_percent
price_sales
price_book
ex_dividend_date
pe_ratio
dividend_pay_date
pe_ratio_realtime
peg_ratio
price_eps_estimate_current_year
price_eps_estimate_next_year
symbol
shares_owned
short_ratio
last_trade_time
ticker_trend
oneyr_target_price
volume
holdings_value
holdings_value_realtime
year_range
days_value_change
days_value_change_realtime
stock_exchange
dividend_yield
percent_change
error_indicationreturnedforsymbolchangedinvalid
date
open
high
low
close
adj_close -->
