<h1 class="title"><i class="fa fa-briefcase" aria-hidden="true"></i> | Portfolio Analysis</h1>
<div>
  <div class="image-container">
    <% @portfolio.tickers.each do |x|  %>
      <%= image_tag x.image, style:'max-height:60px' %> &nbsp; &nbsp; &nbsp;
    <% end  %>
  </div>

</div>
<h4>Start Date - End Date</h4>
<p><%= @portfolio.startdate %> - <%= @enddate %></p>
<% if @portfolio.in_bet? %>
  <h4>[Already In a Bet]</h4>
  <hr>
  <span class="fa-stack fa-lg betFixed" data-toggle="tooltip" title="Already in a Bet" data-placement="top">
    <i class="fa fa-circle fa-stack-2x" style="color:#7F0000"></i>
    <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
  </span>
<% else %>
  <span>
    <%= link_to '<i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>&nbsp; &nbsp; &nbsp; Delete Portfolio'.html_safe, portfolio_path(@portfolio) , method: :delete, data: { confirm: 'Are you sure? '}, class: 'btn btn-warning btn-lg btn-delete-float'%>
  </span>
  <button type="button" class="btn btn-primary btn-lg btn-update-float" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>&nbsp; &nbsp; &nbsp; Update Portfolio
  </button>
  <hr>
  <%= link_to new_bet_path(@portfolio) do  %>
    <span class="fa-stack fa-lg betFixed" data-toggle="tooltip" title="Bet" data-placement="top">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
    </span>
  <% end  %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Portfolio</h4>
      </div>
      <hr>
        <%= render 'portfolios/form' %>
        <hr>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>



<!-- Modal Video 1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Earnings Before Interest, Tax, Depreciation & Amortization</h4>
      </div>
<br>
  <p>EBITDA is a measure of profits. While there is no legal requirement, according to generally accepted accounting principles (GAAP), for companies to disclose EBITDA, it can be worked out and reported using information found in a company's financial statements. <br> <br>
    The earnings, tax and interest figures are found on the income statement, while the depreciation and amortization figures are normally found in the notes to operating profit or on the cash flow statement. The usual shortcut to calculate EBITDA is to start with operating profit, also called earnings before interest and tax (EBIT), and then add back depreciation and amortization. <br>
  </p>
      <video width="448" height="336" controls>
        <source src="http://content.jwplatform.com/videos/BfWd7TwF-G9NhEyAa.mp4" type="video/mp4">

      Your browser does not support the video tag.
      </video>
<br>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>



<!-- Modal Video 2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Price-Earnings Ratio</h4>
      </div>
<br>
  <p>The price-earnings ratio (P/E Ratio) is the ratio for valuing a company that measures its current share price relative to its per-share earnings.

The price-earnings ratio can be calculated as:

Market Value per Share / Earnings per Share
 <br> <br>
 In essence, the price-earnings ratio indicates the dollar amount an investor can expect to invest in a company in order to receive one dollar of that company’s earnings. This is why the P/E is sometimes referred to as the multiple because it shows how much investors are willing to pay per dollar of earnings. If a company were currently trading at a multiple (P/E) of 20, the interpretation is that an investor is willing to pay $20 for $1 of current earnings.

In general, a high P/E suggests that investors are expecting higher earnings growth in the future compared to companies with a lower P/E.
 <br>
  </p>
      <video width="448" height="336" controls>
        <source src="http://content.jwplatform.com/videos/uBU0AMdO-G9NhEyAa.mp4" type="video/mp4">

      Your browser does not support the video tag.
      </video>
<br>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>



<!-- Modal Video 3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Short Ratio</h4>
      </div>
<br>
  <p>
    The short interest ratio is a sentiment indicator that is derived by dividing the short interest by the average daily volume for a stock. Also known as the days to cover ratio, it is used by both fundamental and technical traders to identify the prevailing sentiment the market has for a specific stock.


 <br> <br>
 Shorting a stock is the opposite of buying a stock. Specifically, it is the selling of a stock that is not owned by the investor. The goal of selling a stock short is to make money when it falls to a lower price. The investor is betting that the price of the stock will go down. Once the price goes down, the investor can buy the stock at the lower price without having to own the stock. The expectation is for the price of the stock to go down. Looked at in aggregate, short interest and the short interest ratio can provide clues about the level of bearish sentiment in the market.

 <br>

 <br>
 <br>
 When short interest grows, it means more investors are covering their positions because they are worried about and/or expect the price of company stock to go down. If a company's short interest increases by 20% in one month, it means there was a 20% increase in the number of investors that are betting on the stock price going down.

The short interest ratio provides a number that is used by investors to determine how long it will take short sellers, as a number of days, to cover their entire position if the price of a stock begins to rise. The short interest ratio can also be applied to exchanges to determine the sentiment of the market as a whole. If an exchange has a high short interest ratio of around five or greater, this can be taken as a bearish signal, and vice versa.

  </p>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<!-- Modal Video 4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Market Capitalization</h4>
      </div>
<br>
  <p>
    Market capitalization refers the total dollar market value of a company's outstanding shares. Commonly referred to as "market cap," it is calculated by multiplying a company's shares outstanding by the current market price of one share. The investment community uses this figure to determine a company's size, as opposed to using sales or total asset figures.

 <br> <br>
 Using market capitalization to show the size of a company is important because company size is a basic determinant of various characteristics in which investors are interested, including risk. It is also easy to calculate. A company with 20 million shares selling at $100 a share would have a market cap of $2 billion.

 <br>
  </p>
      <video width="448" height="336" controls>
        <source src="http://content.jwplatform.com/videos/1lMzuLqL-G9NhEyAa.mp4" type="video/mp4">

      Your browser does not support the video tag.
      </video>
<br>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="togglers toggleFundamentals btn-success hoverable title1 col-md-3"><h1>FUNDAMENTALS</h1> </div>
  <div class="togglers toggleTechnicals btn-success hoverable title1 col-md-3"><h1>TECHNICALS</h1> </div>
  <div class="togglers toggleNews btn-success hoverable title1 col-md-3" disabled><h1>NEWS</h1> </div>
  <div class="togglers btn-success hoverable title1 col-md-3" disabled><h1>GURU ADVICE</h1> </div>
</div>

<div id="fundamentals" style="display:none">
  <hr>
  <div class="row">
    <div class="col-md-3">
      <h4><span class="btn btn-default" data-toggle="modal" data-target="#myModal1">EBITDA</span></h4>

        <% @zip_fundamental.each do |x, y| %>
          <%= x %> -  <%= y.ebitda %><br>
        <% end  %>
    </div>
    <div class="col-md-3">
    <h4><span class="btn btn-default" data-toggle="modal" data-target="#myModal2">P/E Ratio</span></h4>
        <% @zip_fundamental.each do |x, y| %>
          <%= x %> -  <%= y.pe_ratio %><br>
        <% end  %>
    </div>
    <div class="col-md-3">
<h4><span class="btn btn-default" data-toggle="modal" data-target="#myModal3">Short Ratio</span></h4>
        <% @zip_fundamental.each do |x, y| %>
          <%= x %> -  <%= y.short_ratio%><br>
        <% end  %>
    </div>
    <div class="col-md-3">
<h4><span class="btn btn-default" data-toggle="modal" data-target="#myModal4">Market Cap</span></h4>
        <% @zip_fundamental.each do |x, y| %>
          <%= x %> -  <%= y.market_capitalization %><br>
        <% end  %>
    </div>
  </div>
</div>


<div id="news" align="left" class="row" style="display:none">
  <div class="container col-xs-10 col-xs-offset-1">
    <hr>
    <h1>Current news for <%= @tickers %></h1>
    <h1><i class="fa fa-newspaper-o" aria-hidden="true"></i></h1>
    <% if @feed %>
      <% @feed.entries.each do |x| %>
        <h3><%= x.title  %></h3>
        <p><%= x.summary %></p>
        <%= link_to 'Go to Article', x.url %>
        <br>
      <% end %>
    <% end %>
  </div>
</div>

<div id="technicals" style="display:none">
  <hr>


  <!-- <h1>ABSOLUTE PRICE CHART</h1> -->

  <%#= line_chart @data1 %><%#, discrete: true%>

  <!-- <h1>STANDARD DEVIATION</h1> -->

  <%# @stdev_array.each_with_index do |x, index| %>
    <!-- <%#= @super_duper_array[index].first.symbol %> -- <%#= @stdev_array[index].round(2) %> <br> -->
  <%# end %>
  <div class="row">
    <h1>HUNDRED DOLLAR TEST</h1>
    <p>If You invested 100 dollars at the beginning, today you would have </p>
    <p><strong>Portfolio Return >><%= (@portfolio_last - 100).round(2)  %> % </strong> <br>
      <% @zip_dollars.each do |x , y| %>
        <%= x %> -- <%= y.round(2) %> <br>
      <% end  %>

      <%# @super_dollars_at_end_array.each_with_index do |x, index| %>
        <!-- <%#= @super_duper_array[index].first.symbol %> -at beginning, today you would have- <%#= @super_dollars_at_end_array[index].round(2) %> <br> -->
      <%# end %>
    </p>
    <%= line_chart @data3, min: @minimum, max: @maximum %>
    <div class="col-sm-6">
      <h1>VARIATION COEFFICIENT</h1>
      <p>The higher the riskier</p>
      <%# @varcoef_array.each_with_index do |x, index| %>
        <!-- <%#= @super_duper_array[index].first.symbol %> -- <%#= @varcoef_array[index].round(2) %> <br> -->
      <%# end %>

      <% @zip_inter.each do |x , y| %>
        <%= x %> -- <%= y.round(2) %> <br>
      <% end  %>

    </div>
    <div class="col-sm-6">
      <h1>RETURN ON INVESTMENT</h1>
      <p>The higher the better</p>
      <p>
    </div>
    <% @zip_return.each do |x , y| %>
      <%= x %> -- <%= y.round(2) %> <br>
    <% end  %>
      <%# @return_array.each_with_index do |x, index| %>
        <!-- <%#= @super_duper_array[index].first.symbol %> -- <%#= @return_array[index].round(2) %> <br> -->
      <%# end %>
    </p>
  </div>
  <h1>VARIATION CHART</h1>
  <p>Displays indexed standard deviation</p>
  <%= area_chart @data2 %>




  <h1>SORTINO Ratio</h1>
  <p>Eliminates upward volatily</p>
  <p>
    A higher Sortino ratio is better. It means that the investment is earning more return per unit of bad risk that it takes on.
    <br>
    <% @zip_sortino.each do |x , y| %>
      <%= x %> -- <%= y.round(2) %> <br>
    <% end  %>
    <%# @super_sortino.each_with_index do |x, index| %>
      <!-- <%#= @super_duper_array[index].first.symbol %> -- <%#= @super_sortino[index].round(2) %> <br> -->
    <%# end %>
  </p>

  <%= line_chart @sortino_graph %>
</div>
<!--
<h1>V@R</h1>
<p>MAYBE slider to certainty</p>
<p>There's a 95% degree of certainty that you won't lose more than ...</p>

-->
<!-- <p>Link to actual stock buy</p>



<h1>Portfolio return without weight and possibly with weiight</h1> -->


<%# @stock.book_value %>



<!-- symbol
ask
average_daily_volume
bid
ask_realtime--------------
bid_realtime --------------
book_value
change_percent_change
change
commission
change_realtime
after_hours_change_realtime
dividend_share
last_trade_date
trade_date
earnings_share
error_indicationreturnedforsymbolchangedinvalid
eps_estimate_current_year
eps_estimate_next_year
eps_estimate_next_quarter
days_low
days_high
year_low
year_high
holdings_gain_percent
annualized_gain
holdings_gain
holdings_gain_percent_realtime
holdings_gain_realtime
more_info
order_book_realtime
market_capitalization
market_cap_realtime
ebitda
change_from_year_low
percent_change_from_year_low
last_trade_realtime_with_time--------------
change_percent_realtime
change_from_year_high
percent_change_from_year_high
last_trade_with_time------------------
last_trade_price_only------------------
high_limit
low_limit
days_range
days_range_realtime
fiftyday_moving_average
two_hundredday_moving_average
change_from_two_hundredday_moving_average
percent_change_from_two_hundredday_moving_average
change_from_fiftyday_moving_average
percent_change_from_fiftyday_moving_average
name
notes
open
previous_close
price_paid
changein_percent
price_sales
price_book
ex_dividend_date
pe_ratio
dividend_pay_date
pe_ratio_realtime
peg_ratio
price_eps_estimate_current_year
price_eps_estimate_next_year
symbol
shares_owned
short_ratio
last_trade_time
ticker_trend
oneyr_target_price
volume
holdings_value
holdings_value_realtime
year_range
days_value_change
days_value_change_realtime
stock_exchange
dividend_yield
percent_change
error_indicationreturnedforsymbolchangedinvalid
date
open
high
low
close
adj_close -->
