<h1>Hello</h1>
<%# @data.each { |data| %>
  <%#= data.symbol + " ask is: " + data.ask + " bid is: " + data.bid + " last trade date is: " + data.last_trade_date + " previous close : " + data.adj_close %> <br>
<%#}%>
<hr>
<%= bar_chart @data3[0] %>

<%= pie_chart({ :Football => 10, :Basketball => 5}) %>
<%# pie_chart({"Football" => 10, "Basketball" => 5}) %>
<%# pie_chart [["Football", 10], ["Basketball", 5]] %>
<h1><%= @data2[0].symbol %></h1>


<%# @data3 %>
<%# @data3.pluck(:trade_date, :close) %>
NOPLUCK<%= @data3 %>
PLUCK<%= @data3.pluck(:trade_date, :close) %>

<%= line_chart [
  {name: "Close", data: @data3.pluck(:trade_date, :close)},
  {name: "Open", data: @data3.pluck(:trade_date, :open)}
] %>

<%= @data3.pluck(:trade_date, :close) %>
<h1><%= @data2[0].symbol %></h1>

<% @data2.each { |data|  %>
    <p> <%=  "Trade Date -> #{data[:trade_date]} Close Price -> #{data.close} Volume -> #{data.volume}"%> </p>
<% }  %>
