<% if @user %>
<h1 class="title">My Bets</h1>
<h1><i class="fa fa-user-circle fa-3x title" aria-hidden="true"></i></h1>
<% else  %>
<h1 class="title">Bet Hub</h1>
<h1><i class="fa fa-users fa-3x title" aria-hidden="true"></i></h1>
<% end %>
<hr>


<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#home">Stocks</a></li>
  <li><a data-toggle="tab" href="#menu1">Sports</a></li>

</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class="" style="text-align:left">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Time Until Bet Starts</th>
            <th>Time Until Bet Ends</th>
            <th>Amount</th>
            <th>Stocks in Portfolio</th>
            <th>Take/See Bet</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @bets.each do |x| %>
            <tr>
              <td> <% user =  User.find x.portfolios.first.user_id  %>
              <%= user.display_name %></td>
              <% if  x.in_progress? %>
                <td>Bet has begun!</td>
                <td><%= TimeDifference.between(DateTime.current, x.enddate).humanize %></td>
              <% elsif x.finished? %>
              <td>Bet Finished</td>
              <td>Bet Finished</td>
              <% else %>
                <td><%= TimeDifference.between(DateTime.current, x.startdate).humanize %></td>
                <td><%= TimeDifference.between(DateTime.current, x.enddate).humanize %></td>
              <% end  %>
              <td><%= number_to_currency(x.amount) %></td>

              <td>
                <% x.portfolios.each do |r| %>
                      <% r.tickers.each do |ticker| %>
                   <span class="btn btn-default btn-sm"><%= ticker.name %></span>
                  <% end %>
                <% end  %>
              </td>
              <% if x.in_progress? || x.finished? || x.canceled? %>
                <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, bet_path(x.portfolios.first, bet_id: x.id), class:"btn btn-warning btn-sm" %></td>
              <% else %>
                <td><%= link_to '<i class="fa fa-handshake-o" aria-hidden="true"></i> | Participate in Bet'.html_safe, user_portfolios_path(user_id: current_user, bet_id: x.id), class:"btn btn-success btn-sm" %></td>
              <% end %>
              <td><%= x.aasm_state %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <div class="" style="text-align:left">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Time Until Game Begins</th>
            <th>Amount</th>
            <th>Teams</th>
            <th>Take/See Bet</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @soccerbets.each do |x| %>
            <tr>
              <td> <% user =  User.find x.user_id1  %>
              <%= user.display_name %></td>
              <% if  x.in_progress? %>
                <td>Bet has begun!</td>
              <% elsif x.finished? %>
                <td>Bet Finished</td>
              <% else %>
                <td><%= TimeDifference.between(DateTime.current, x.fixture_date).humanize %></td>
              <% end  %>
              <td><%= number_to_currency(x.amount) %></td>
              <td>
                <% @res = FootballData.fetch(:fixtures, "/", id: x.fixture_id) %>
                <%= @res["fixture"]["homeTeamName"] %> | <%= @res["fixture"]["awayTeamName"] %>
              </td>
              <% if x.in_progress? || x.finished? || x.canceled? %>
                <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, soccer_path(x), class:"btn btn-warning btn-sm" %></td>
              <% else %>
                <td><%= link_to '<i class="fa fa-handshake-o" aria-hidden="true"></i> | Participate in Bet'.html_safe, soccerbet_path(x, user_id: current_user), method: :patch, class:"btn btn-success btn-sm", data: {confirm:"are you sure?"} %></td>
              <% end %>
              <td><%= x.aasm_state %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>






<script>
var betId = '#{dom_id(x)}';
setInterval(function() {
  // method to be executed;
}, 5000);
</script>
