<h1>Public Bets</h1>
<hr>
<div class="" style="text-align:left">
<% @bets.each do |x| %>
<h4 id="x">
  <%= x.amount %>
  <% x.portfolios.each do |r| %>
    <% r.tickers.each do |ticker| %>
      <span class="btn btn-default"><%= ticker.name %></span>
    <% end %>
    <% end  %>
  Time Until Bet Starts>> <%= TimeDifference.between(DateTime.current, x.startdate).humanize %> |
  End Date>> <%= TimeDifference.between(DateTime.current, x.enddate).humanize %>
  <%= link_to x.id, bet_path(x.id) %></h4>
<% end %>
</div>
<!-- Fix time until close -->


<script>
var betId = '#{dom_id(x)}';
setInterval(function() {
  // method to be executed;
}, 5000);
</script>
