<% if @user %>
<h1 class="title">My Bets</h1>
<h1><i class="fa fa-user-circle fa-3x title" aria-hidden="true"></i></h1>
<% else  %>
<h1 class="title">Bet Hub</h1>
<h1><i class="fa fa-users fa-3x title" aria-hidden="true"></i></h1>
<% end %>
<hr>


<ul class="nav nav-tabs nav-justified">
  <% if params[:sports]  %>
    <li><a data-toggle="tab" href="#home"><h4>Stocks</h4></a></li>
    <li class="active"><a data-toggle="tab" href="#menu1"><h4>Sports</h4></a></li>
  <% else  %>
    <li class="active"><a data-toggle="tab" href="#home"><h4>Stocks</h4></a></li>
    <li><a data-toggle="tab" href="#menu1"><h4>Sports</h4></a></li>
  <% end  %>
</ul>

<div class="tab-content">
    <% if params[:sports]  %>
      <div id="home" class="tab-pane fade">
    <% else %>
      <div id="home" class="tab-pane fade in active">
    <% end %>
    <div class="" style="text-align:left">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Time Until Bet Starts</th>
            <th>Time Until Bet Ends</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @bets.reverse.each do |x| %>

            <tr>
              <td> <% user =  User.find x.portfolios.first.user_id  %>
              <%= user.display_name %></td>
              <% if  x.in_progress? %>
                <td>Bet has begun!</td>
                <td><%= TimeDifference.between(DateTime.current, x.enddate).humanize %></td>
              <% elsif x.finished? %>
              <td>Bet Finished</td>
              <td>Bet Finished</td>
              <% else %>
                <td><%= TimeDifference.between(DateTime.current, x.startdate).humanize %></td>
                <td><%= TimeDifference.between(DateTime.current, x.enddate).humanize %></td>
              <% end  %>
              <td><%= number_to_currency(x.amount) %></td>
              </tr>
              <tr>
              <td colspan="4">
                <% x.portfolios.each do |r| %>
                      <% r.tickers.each do |ticker| %>
                   <span class="btn btn-default btn-sm"><%= image_tag ticker.image, style:'height:20px' %>&nbsp; &nbsp;<%= ticker.name %></span>
                  <% end %>
                <% end  %>
              </td>

            </tr>
            <tr>
              <% if x.in_progress? || x.finished? || x.canceled? %>
                <td colspan="4" style="border-bottom:1pt solid #2AA198;"><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, bet_path(x.portfolios.first, bet_id: x.id), class:"btn btn-warning" %></td>
              <% else %>
                <td colspan="4" style="border-bottom:1pt solid #2AA198;"><%= link_to '<i class="fa fa-handshake-o" aria-hidden="true"></i> | Participate in Bet'.html_safe, user_portfolios_path(user_id: current_user, bet_id: x.id), class:"btn btn-success", style:"width:100%" %></td>
              <% end %>
              <%#= x.aasm_state %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <% if params[:sports]  %>
    <div id="menu1" class="tab-pane fade in active">
    <% else %>
    <div id="menu1" class="tab-pane fade">
    <% end %>
    <div class="" style="text-align:left">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Time Until Game Starts</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @soccerbets.each do |x| %>
            <tr>
              <td> <% user =  User.find x.user_id1  %>
              <%= user.display_name %></td>
              <% if  x.in_progress? %>
                <td>Bet has begun!</td>
              <% elsif x.finished? %>
                <td>Bet Finished</td>
              <% else %>
                <td><%= TimeDifference.between(DateTime.current, x.fixture_date).humanize %></td>
              <% end  %>
              <td><%= number_to_currency(x.amount) %></td>
              </tr>
              <tr>
              <td colspan="3" style="text-align:center">
              <% @hometeam = Soccerteam.where(team_id: x.team_id1).first %>
              <% @awayteam = Soccerteam.where(team_id: x.team_id2).first %>


                <%= image_tag @hometeam.image, style:'height:25px' %>  <%= @hometeam.name  %> vs <%= @awayteam.name  %>  <%= image_tag @awayteam.image, style:'height:25px' %>
              </td>
              </tr>
              <tr>
              <% if x.in_progress? || x.closed? || x.canceled?  || x.finished?%>
                <td colspan="3"><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, soccerbet_path(x), class:"btn btn-warning", style:"width:100%" %></td>
              <% else %>
                <td colspan="3"><%= link_to soccerbet_path(x, user_id: current_user), method: :patch, class:"btn btn-success", style:"width:100%" do %>
                        <i class="fa fa-handshake-o" aria-hidden="true"></i> | I bet
                        <%= image_tag @awayteam.image, style:'height:20px' %> Wins
                    <% end %>
                </td>
              <% end %>
            <%#= x.aasm_state %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= @res %>




<script>
var betId = '#{dom_id(x)}';
setInterval(function() {
  // method to be executed;
}, 5000);
</script>
