<h1 class="title">Public Bets</h1>
<hr>
<div class="" style="text-align:left">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Time Until Bet Starts</th>
        <th>Time Until Bet Ends</th>
        <th>Amount</th>
        <th>Stocks in Portfolio</th>
        <th>Take Bet</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @bets.each do |x| %>
        <tr>
          <td> <% user =  User.find x.portfolios.first.user_id  %>
          <%= user.display_name %></td>
          <td><%= TimeDifference.between(DateTime.current, x.startdate).humanize %></td>
          <td><%= TimeDifference.between(DateTime.current, x.enddate).humanize %></td>
          <td><%= number_to_currency(x.amount) %></td>
          <td>
            <% x.portfolios.each do |r| %>
                  <% r.tickers.each do |ticker| %>
               <span class="btn btn-default btn-sm"><%= ticker.name %></span>
              <% end %>
            <% end  %>
          </td>
          <td><%= link_to '<i class="fa fa-handshake-o" aria-hidden="true"></i>'.html_safe, user_portfolios_path(user_id: current_user, bet_id: x.id), class:"btn btn-success btn-sm" %></td>
          <td><%= x.aasm_state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Fix time until close -->


<script>
var betId = '#{dom_id(x)}';
setInterval(function() {
  // method to be executed;
}, 5000);
</script>
