<h1 class="title">Create a New Bet</h1>
<h4>Place Bet With current Portfolio Holding</h4>
<% @name_array.each do |name|%>
  <span class="btn btn-default"><%= name  %></span>
<% end  %>
<!--  TODO Add weighted portfolios-->
<h4>In equal proportions</h4>

<!-- tenemos
t.datetime "startdate"
t.datetime "enddate"
calculamos current date-->
<div class="container col-md-4 col-md-offset-4">
<%= simple_form_for @bet do |f| %>
  <%= f.input :startdate, default: @defaultstartdate %>
  <p>Default Start Time is in 2 hours</p>
  <%= f.input :enddate, default: @defaultenddate %>
  <p>Default End Date is one week</p>
  <%= f.hidden_field :portfolio, value: @portfolio.id %>
  <%= f.input :amount %>
  <%= f.submit class: 'btn btn-primary', value: 'Create a Public Bet' %>
  <%= f.submit class: 'btn btn-primary', value: 'Challenge a Friend Directly', name: 'challenge' %>
<% end %>
</div>
