<h1 class="title">Current Bet</h1>
<h1><i class="fa fa-money fa-2x title" aria-hidden="true"></i></h1>
<div class="row">
<% if @bet.posted? || @bet.taken? %>
<div class="col-xs-6">
  <h3>Time until bet begins</h3>
  <%= TimeDifference.between(DateTime.current, @bet.startdate).humanize %>
</div>
<% end %>
<% if @bet.posted? || @bet.taken? || @bet.in_progress? %>

<div class="col-xs-6 <% if @bet.in_progress? %> col-xs-offset-3 <% end %>">
  <h3>Time until bet ends</h3>
  <%= TimeDifference.between(DateTime.current, @bet.enddate).humanize %>
</div>
<% end  %>
</div>
<br>
<!-- tenemos
t.datetime "startdate"
t.datetime "enddate"
calculamos current date-->
<div class="row">
<div class="col-xs-12">
<h4>Amount of <%= number_to_currency(@bet.amount) %></h4>
</div>
</div>
<h4>State <%= @bet.aasm_state %></h4>
<%if @bet.posted? || @bet.taken? %>
<hr>
<h1><%= link_to '<i class="fa fa-handshake-o" aria-hidden="true"></i> | Participate in Bet &nbsp; &nbsp;'.html_safe, bets_path(bet_id: @bet, portfolio_id: @closeportfolio), method: :post, class:"btn btn-success btn-lg" %></h1>
<% end  %>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>UserNames</th>
      <th>Stocks in Portfolio</th>
      <% if @bet.in_progress? || @bet.finished?  %>
        <th>Starting Value</th>
      <% end %>
      <% if @bet.finished? %>
        <th>End Value</th>
        <th>Return</th>
        <th>Winner</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @portfolios.each do |x| %>
      <tr>
        <td><%= x.user.display_name %></td>
        <td><% x.tickers.each do |x| %>
           <span class="btn btn-default btn-sm"><%= x.name %> </span>
          <% end %>
        </td>
        <% if @bet.in_progress? || @bet.finished? %>
        <td><%= x.startvalue %></td>
        <% end %>
        <% if @bet.finished? %>
          <td><%= x.currentvalue %> </td>
          <td><%= ((x.return-1)*100).round(2) %> % </td>
          <td>
            <% if x.winner %>
              <span class="btn btn-success" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-money fa-2x" aria-hidden="true"></i>
              </span>
            <% end  %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @bet.charity %>
  <div class="col-xs-12">
    <h3>Bet Charity</h3>
    <p><%= @bet.charity %></p>
  </div>
<% end %>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Choose Your Charity</h3>
        <h4>10% of payout will be donated to this charity</h4>
        <p>Income Inequality, Water, Education, Health, Environment</p>
      </div>
        <hr>
        <div class="" style="width:30%" align="center">
            <%= simple_form_for @bet do |f| %>
              <%= f.input :charity, input_html: {style: 'text-align:center'}  %>
              <%= f.submit class: 'btn btn-primary', value: 'Proceed to payout' %>
            <% end %>
          </div>
        <hr>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
