<h1 class="title">Upcoming games for <%= @teamid.name %></h1>
<div class="" style="text-align:left">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>HomeTeam</th>
        <th>AwayTeam</th>
        <th>Amount</th>
        <th>Pick team</th>
        <th>Bet</th>
      </tr>
    </thead>
    <tbody>
      <% @soccerbet = Soccerbet.find params[:id]%>
      <% @res["fixtures"].each do |x| %>
        <%= simple_form_for @soccerbet do |f| %>
          <tr>
            <td><%=@timezone.utc_to_local(x["date"].to_datetime.utc).strftime("%Y-%m-%d %l:%M %p") %>
            </td>
            <td>
              <%= x["homeTeamName"] %>
            </td>
            <td>
                <%= x["awayTeamName"] %>
            </td>
            <%= f.hidden_field :fixture_id, value: "#{x["id"]}"   %>
            <%= f.hidden_field :fixture_date, value: "#{x["date"]}"   %>
            <td>
              <%= f.input :amount, input_html: {style: 'text-align:center'}, label_html: {style:'display:none'}  %>
            </td>
            <td>
              <%= f.select :team, [[x["homeTeamName"] , x["homeTeamId"]],[ x["awayTeamName"], x["awayTeamId"]]] %>
            </td>
            <td>
              <%= f.submit class: 'btn btn-primary', value: 'Bet' %>
            </td>
        <% end %>
      <% end  %>
    </tbody>
  </table>
</div>

<%= @res %>
